.vars {
  --navbar-height: 60px;
}

.container {
  display: flex;
  width: 100vw;
  max-width: 100vw;
  composes: vars;
  border-bottom: 1px solid var(--border-color);
  width: 100vw;
  height: var(--navbar-height);
  align-items: center;
  justify-content: space-between;
  & > .signout {
    margin-right: 10px;
  }
}
